
body {
	color:white;
}

.bg_black {
	background-color: black;
	width:1000px;
	height:1000px;
	padding-top: 400px;
	margin: -200px auto;
	position:relative;
}

.zangeki_box {
	background-color: white;
	/* width:1000px; */
	height:4px;
	position:absolute;
	overflow: hidden;
	right:-40px;
	transform: rotate(-10deg);
	animation-name : zangeki_animation;
	animation-fill-mode: forwards;
	animation-duration : 3s;
	animation-timing-function: 	linear;
}

.goemon {
	transform: rotate(10deg);
	width:400px;
	position:absolute;
	right:400px;
	animation-name :goemon_animation;
	animation-fill-mode: forwards;
	animation-duration : 6s;

}



@keyframes zangeki_animation {
	0% {
		top:300px;
		width : 0px;

	}
	16%{
		top:410px;
		width : 1200px;

	}
	70%{
		top:410px;
		width : 1200px;
		height:4px;
	}
	100%{
		top:310px;
		width : 1200px;
		height:204px;
	}
}

@keyframes  goemon_animation {
	0% {
		opacity: 0;
	}

	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
